// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: $sizeValue * 16 * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin transition-ease($time) {
	transition: all $time ease;
}

@mixin transition($time) {
	transition: $time;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after {
	clear: both;
}

@mixin link-current($color: $theme-color) {
	color: $theme-color;
	box-shadow: inset 0 -3px 0 0 $color;
	opacity: 1;
}

@mixin button($top-bottom: 5, $left-right: 20, $font-size: 14) {
	border: none;
	background: $theme-color;
	color: $white;
	padding: rem-calc($top-bottom) rem-calc($left-right);
	text-transform: uppercase;
	font-size: rem-calc($font-size);

	@include transition(0.5s);

	&:hover {
		color: $white;
		border: none;
		opacity: 0.7;
	}

	&:active,
	&:focus {}
}

@mixin textarea {
	padding: rem-calc(10);
	width: 100%;
	max-width: 100%;
}

@mixin border-radius {
	border-radius: 100%;
	border: 3px solid $black;
}

@mixin notification-count-span($top: -12px, $right: -5px) {
	background: #deb25e;
	border-radius: 100%;
	color: $white;
	font-size: 70%;
	margin-left: 2px;
	padding: 0 6px;
	text-align: center;
	vertical-align: middle;
	height: 18px;
	line-height: 18px;
	position: absolute;
	right: $right;
	top: $top;
}

@mixin notification-count {
	span {
		@include notification-count-span;

		display: none;
	}

	&:hover {
		color: $theme-color;
		border-bottom: 2px solid $theme-color;

		span {
			display: inline-block;
		}
	}
}

@mixin dashicon {
	font-family: dashicons;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: bottom;
}

@mixin dashicon-before {
	padding-right: rem-calc(4);
	font-size: 14px;
	color: $dark-gray;

	@include dashicon;
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

/* BP-STICKER STYLE */
@mixin bpsticker-style() {
    .bp-smiley-button {
        .buddypress-smiley-button {
            float: none;
        }
    }
}

/* BP-REACTION STYLE */
@mixin bpreaction-style() {
    .activity-list {
        .activity-reactions {
            margin: .6em 0 0 0;
            .emoji {
                height: 15.33px !important;
                width: 19px !important;
            }
        }
    }
}
