$color__background-body: $white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $dark-blue;
$color__text-input: $very-dark-gray;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #f0c573;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb $gray;
$color__border-button-focus: $gray #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: $very-dark-gray;
