/* Navigation Links */

a {
	color: $theme-color;
	text-decoration: none;

	&:hover, &:focus, &:active {
		opacity: 0.9;
	}

	&:focus {
		outline: 0;
	}

	&:hover, &:active {
		outline: 0;
	}
}

.rtp-readmore {
	text-transform: uppercase;
	font-size: rem-calc(18);
	border-bottom: 2px solid $theme-color;
	text-decoration: none;

	&:hover, &:focus, &:active {
		opacity: 0.7;
	}
}

.rtp-pagination {
	margin: rem-calc(60) 0;

	.page-numbers {
		border: none;
		background: #deb25e;
		color: #fff;
		padding: 8px 12px;
		text-transform: uppercase;
		font-size: .875rem;
		transition: .5s;
		font-size: 15px;
		display: inline-block;
		margin-bottom: 5px;
	}

	.page-numbers.current,
	.page-numbers.dots {
		background: transparent;
		color: #888;
	}
}

.rtp-link-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
