h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.rtp-special-title {
	font-size: rem-calc(80);
	line-height: 1.3;
	margin: 0;
	color: $theme-color;
	font-weight: normal;
}
.error404 .rtp-special-title{
    font-family: inherit;
}

.rtp-slide-inner {
	.rtp-special-title {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.rtp-heading-description {
	text-transform: uppercase;
	font-size: rem-calc(40);
	font-weight: 900;
	line-height: rem-calc(50);
	margin: 0;
	letter-spacing: rem-calc(6);
	color: #212121;
}

/*==============================
          to be moved
===============================*/

.rtp-white-divider {
	border-bottom: 2px solid $white;
}

.rtp-hidden {
	display: none;
}
