html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	position: relative; // login popup height issue fixed with this line.
}

blockquote, q {
	quotes: "" "";

	&:before,
		&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

select{
	width: auto;
	box-sizing: border-box;
	align-items: center;
	border: none;
	text-transform: uppercase;
	font-size: 13px;
	margin: 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background: #f8f8f8;
	color:#888;
	border:none;
	outline:none;
	display: inline-block;
	height: 34px;
	cursor:pointer;
}

