ul, ol {
	padding: 0;
}

ul {
	list-style: none;
}

ul.subnav {
	display: flex;
}

.bp-navs ul li a, .bp-navs ul li span {
	padding-left: 0;
	margin-right: 10px;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}